
/* font ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font ROBOTO BOLD */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* font SHRIKHAND */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

p,a,h1,h2,h3,h4,h5
{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-decoration: none;
  color: initial;
  overflow: hidden;
  text-overflow: ellipsis;
}

body
{
  display: contents
}

section
{
  margin: 0px 15px 25px;
}

/* LOADER */

.loader
{
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: loader 0.05s;
  animation-delay: 1.10s;
  animation-fill-mode: both;
}


.loader-gif
{
  background: url(https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif) 50% 50% no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}



/* HEADER */

header
{
  text-align: center;
}

.header_back-home
{
  left: 15px;
  position: absolute;
  top: 30px;
}

.header_title
{
  background-color: rgb(249, 249, 249);
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.header_img
{
    width: 200px;
    padding: 15px;
}

.header_title
{
  text-align: center;
  box-shadow: 1px 6px 9px rgb(99, 99, 99);
}

.header_location
{
  display: flex;
  text-align: center;
  background-color: #d2d2d2;
  padding: 1px;
  box-shadow: -2px 19px 21px -8px rgb(136 136 136 / 30%) inset;
  justify-content: center;
  padding: 10px;
}

.header_location i
{
  margin-right: 5px;
}

.banniere-img
{
  margin-bottom: -30px;
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

.restaurant__card-label--new p
{
  position: absolute;
  padding: 10px;
  right: 10px;
  top: 9px;
  color: #1b6150;
  background-color: #99e2d0;
}

.search_restaurant 
{
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_restaurant_title
{
  font-weight: bold;
  font-size: medium;
}

.search_restaurant_text h3
{
  font-weight: lighter;
  margin: 10px;
}

.btn
{
  border-radius: 30px;
  padding: 15px 40px;
  margin: 11px;
  color: white;
  font-size: larger;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  background: linear-gradient(0deg, rgba(159,82,251,1) 0%, rgba(219,130,255,1) 91%);
  &:hover
  {
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
    transition: 150ms;
  }

  .btn-home
  {
    width: 240px;
    flex-wrap: nowrap;
  }

  .btn-order
  {
    text-align: center;
    width: fit-content;
  }
}

.heart
{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heart_icon_1
{
  color: black;
  font-size: 28px;
  &:hover
  {
    opacity: 0%;
  }
}

.heart_icon_2
{
  opacity: 0%;
  color: #9f52fb;
  position: absolute;
  font-size: 33px;
  animation: Heartshade .9s;
  transition: .2s;
  &:hover
  {
    opacity: 100%;
  }
}

/* FONCTIONNALITÉ */

.fontionnement_card
{
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 0px 2px 19px -2px rgb(0 0 0 / 17%);
  font-family: "Roboto", sans-serif;
  margin: 20px 20px;
}

.fontionnement_card_content
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 0px 20px 0px 10px;
}

.fontionnement_card:hover 
{
  background-color: #e4d5f6;
}

.circle
{
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  margin: 0px 0px 0px -10px;
  padding: 4px 9px;
}

.card_content_icon
{
  padding-left: 10px;
  color: #9356DC;
}

.fontionnement_card_content p
{
  padding-left: 10px;
}


/* RESTAURANT */


.restaurant__card
{
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 20px 13px -18px rgb(0 0 0 / 48%);
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.restaurant__card-img
{
  width: 100%;
    object-fit: cover;
    height: 160px;
}

.restaurant__card-content
{
  align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.restaurant__card-content-text
{
  flex: 1;
    margin: 5px 0px 10px;
    width: 150px;
}

/* FOOTER */

footer
{
  background-color: #363636;
  color: #F6F6F6 !important;
  padding: 8px 0px 20px 10px;
}

footer h2
{
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  color: white;
  padding-left: 15px;

}

footer ul a
{
  padding: 10px 0px;
  color: white;
}

footer ul
{
  list-style: none;
  padding-left: 15px;

}

/* PAGE MENU */

/* MAIN CARD */

.main-card
{
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  position: relative;
  margin: 0;
}

.main-card__heading
{
  align-items: center;
  display: flex;
  font-weight: normal;
  justify-content: space-between;
  padding: 20px 20px;
}

.main-card__heading h2
{
  font-family: 'Shrikhand', cursive;
}

.menus
{
  max-width: 100%;
  overflow: hidden;
  padding: 0px 20px;
}

.menus__title
{
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 6px;
  position: relative;
  text-transform: uppercase;
}

.menus__title::after {
  background-color: #99E2D0;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 30px;
}

.menu-content
{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 2%);
  display: flex;
  margin: 20px 0px;
  overflow: hidden;
  padding: 10px;
  max-width: 100%;
  cursor: pointer;
  animation: apparition .75s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
}

.menu-content__price
{
  align-items: flex-end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  justify-content: flex-end;
  padding-left: 20px;
}

.menu-content__header
{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.order-menu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* ANIMATION MENU */

.menu-content__icon 
{
  color: #99E2D0;
}

.menu-content__check-icon
{
  align-items: center;
    background-color: white;
    border-radius: 100px;
    color: #99E2D0;
    display: flex;
    height: 25px;
    justify-content: center;
    transform: rotate(180deg);
    transition-duration: .8s;
    width: 25px;
}

.menu-content:hover .menu-content__check-icon 
{
  transform: rotate(0);
}

.menu-content__confirmation
{
  align-items: center;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    margin: -16px -120px -16px 16px;
    transition-duration: .5s;
    width: 104px;
}

.menu-content:hover .menu-content__confirmation {
  margin-right: -10px;
}

/* KEYFRAME */

@keyframes loader 
{
  100% 
  {
    opacity: 0;
    z-index: -10;
  }
}


@keyframes Heartshade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


@keyframes apparition {
  0% {
    transform: scale(0);
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
  }

  @keyframes heartshade {
    0% {
    opacity: 100%;
    }
  
    100% {
    opacity: 0%;
    }
  }

  /* DELAY */

  .delay-1 {
    animation-delay: .1s;
  }
  
  .delay-2 {
    animation-delay: .2s;
  }
  
  .delay-3 {
    animation-delay: .3s;
  }
  
  .delay-4 {
    animation-delay: .4s;
  }
  
  .delay-5 {
    animation-delay: .5s;
  }
  
  .delay-6 {
    animation-delay: .6s;
  }
  
  .delay-7 {
    animation-delay: .7s;
  }
  
  .delay-8 {
    animation-delay: .8s;
  }
  
  .delay-9 {
    animation-delay: .9s;
  }
  
  .delay-10 {
    animation-delay: .10s;
  }

/* MEDIA QUERIES TABLETTE */

@media ( min-width: 768px) 
{
  body
  {
    width: 1280px;
    
  }

  .fonctionnement_card_section
  {
    display: flex;
    justify-content: space-around;

  }

  .card-list
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .restaurant__card
  {
    max-width: 349px;
  }

  .main-card
  {
    margin: auto;
    width: 567px;
  }
}

/* MEDIA QUERIES DESKTOP */

@media ( min-width: 1200px) 
{

  .restaurant__card
  {
    max-width: 565px;
  }

  .main-card-menu
  {
    display: flex;
    justify-content: center;
  }

  .main-card
  {
    width: fit-content;
  }
}